body{
	font-family: "Arial Narrow";
}
.tr, th{
	text-align:center;
}
.printheader{
	margin-top:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
}
.printheader h4{
	font-size:14px;
	font-family: "Arial Narrow";
}
.printheader p{
	font-size:14px;
	font-family: "Arial Narrow";
}
.printbody{
	margin-left:0px;
	margin-right:0px;
}
.table-responsive{
	font-family: "Arial Narrow";
}
.atastabel{
	margin-top:10px;
}
.bawahtabel{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	display:none;
}
.font8{
	font-size:8px;
	font-family: "Arial Narrow";
}
.font10{
	font-size:10px;
	font-family: "Arial Narrow";
}
.font11{
	font-size:11px;
	font-family: "Arial Narrow";
}
.font12{
	font-size:12px;
	font-family: "Arial Narrow";
}
.font14{
	font-size:14px;
	font-family: "Arial Narrow";
}
.font16{
	font-size:16px;
	font-family: "Arial Narrow";
}
.font18{
	font-size:18px;
	font-family: "Arial Narrow";
}
.font24{
	font-size:24px;
	font-family: "Arial Narrow";
}
.imglogo{
	width: 105px;
	height: 75px;
	margin-left: 40px;
	margin-bottom: -85px;
	display: none;
}
.logokab{
	width: 85px;
	height: 65px;
	margin-left: 40px;
	margin-bottom: -60px;
	display: none;
}

@media print{
	body{
		padding:0px;
	}
	.noprint{
		display:none;
	}
	.printheader{
		display:block;
	}
	.printbody{
		display:block;
	}
	.atastabel{
		display:block;
	}
	.bawahtabel{
		display:block;
	}
	.imglogo{
		display:block;
	}
	.logokab{
		display:block;
	}
}